body {
    font-family: Arial, sans-serif;
    background-color: #3b68c3;
    margin: 0px;
    color: #222;
}
h1 {
    color: #000000;
}
table {
    border-collapse: collapse;
    margin-top: 10px;
}
th {
    background-color: #3b4cca;
    color: white;
}
td, th {
    padding: 8px 12px;
}
button {
    background-color: #ffcb05;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}
button:hover {
    background-color: #f2b807;
}

.fieldset-container {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.start-battle {
    margin-left: 20px;
    font-size: 30px;
    border-radius: 10px;
}


@font-face {
    font-family: 'Bahnschrift-Uploaded'; /* Choose a name for your font */
    src: url('Bahnschrift.TTF') format('truetype'); /* Path to your TTF file */
}


#fontone {
    font-family: 'Bahnschrift-Uploaded';
    color: black;

}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.restartbattle {
    background-color: #ffcb05;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    color: black;   


}

.restartbattle:hover {
    background-color: #f2b807;

}

.header {
    background-color: white;
    width: 100%;
    padding: 20px;
    padding-bottom: 1px;
    display: flex;
    justify-content: space-between;
}

.header img {
    height: 80px;
    width: auto;
    margin-right: 50px;
    margin-bottom: 10px;

}