<!DOCTYPE html>
<html>
<head>
  <title>Binacle | Battle</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h1 id="fontone">Binacle: POGO GBL Helper V{{binacle_version}}</h1>

  {% if error %}
    <p style="color:red">{{ error }}</p>
  {% endif %}

  {% if enemies|length < 3 %}
  <div class="fieldset-container">
    <form method="POST">
      <label id="fontone">Enter Opponent Pokémon #{{ enemies|length + 1 }}:</label>
      <input type="text" name="enemy_name" required>
      <button id='fontone' class='start-battle' style='font-size: 18px;' type="submit">Analyze</button>
    </form>
  </div>
  {% else %}
    <p><b>All 3 enemy Pokémon entered!</b></p>
  {% endif %}

  {% if enemies %}
    <h3 id="fontone">Enemies entered so far:</h3>
    <ul>
      {% for e in enemies %}
        <li id="fontone">{{ e.name.title() }} ({{ e.types|join(', ') }})</li>
      {% endfor %}
    </ul>
    <form method="POST">
      <button type="submit" name="reset_enemies" id="fontone" class="start-battle" style="font-size: 18px;">Reset Enemies</button>
    </form>
  {% endif %}

  {% if all_results %}
    <hr>
    <h2 id="fontone">Battle Results</h2>
    {% for block in all_results %}
      <h3 id="fontone">Best Moves vs {{ block.enemy.name.title() }}</h3>
      <table border="1" cellpadding="5" style="background-color: white;">
        <tr><th>#</th><th>Pokémon</th><th>Move</th><th>Type</th><th>Effectiveness</th></tr>
        {% for r in block.results %}
          <tr>
            <td id="fontone">{{ loop.index }}</td>
            <td id="fontone">{{ r.pokemon }}</td>
            <td id="fontone">{{ r.move }}</td>
            <td id="fontone">{{ r.type }}</td>
            <td id="fontone">x{{ '%.2f'|format(r.multiplier) }}</td>
          </tr>
        {% endfor %}
      </table>
      <br>
    {% endfor %}
  {% endif %}



  <img src='{{ friendly_sprites[0] }}'>
  <img src='{{ friendly_sprites[1] }}'>
  <img src='{{ friendly_sprites[2] }}'>
  <br>
  <br><a href="{{ url_for('reset') }}" id="fontone" class="restartbattle">Restart Entire Battle</a>
</body>
</html>
